body {
    background-color: rgba(104, 62, 0, 0.226);
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    border: 1px solid black;
    align-items: center;
}

nav > button {
    width: 80px;
    background-color: transparent;
    font-size: 17px;
}